
@font-face {
    font-family: 'I Love Glitter';
    src: url('../../components/Header/mf-i-love-glitter.regular.ttf');
    font-family: 'My December';
    src: url('../../common/my-december.regular.ttf');
}


.registerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    background-image: url(../../views/Login/fondoLogin3.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    text-align: center;
    color: #3F0D02;
}

.registerDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff9f21b3;
    border-radius: 50px;
    height: 70%;
    width: 40%;
    font-weight: bold;
    font-family: 'I Love Glitter';
    text-align:center;
    
}

input {
    width: 50%;
    height: 15%;
    margin: 1%;
    font-family: 'My December';
    font-weight: bolder;
    font-size: 190%;
    border-radius: 4px;
    
}

.linkDesign { 
    font-weight: bold;
    font-size: 40px;
    border-radius: 10px;
    text-decoration: underline;
    color:rgb(65, 158, 158);
    font-family: 'My December';
}

.linkDesign:hover {
    box-shadow: .5em .5rem 1rem #fff
    , -.5em -.5rem 1rem #ccc;
    transition: 0.3s;
    
}
.userButton{

    width: 20%;
    height: 12%;
}
.carerButton{
    width: 20%;
    height: 10%;
    margin-bottom: 6%;

}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    background-color: transparent;
    color: #3F0D02;
    padding: 1rem 1.5rem; 
    border: 2px solid #eee; 
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease; 
    box-shadow: .5em .5rem 1rem #ccc,
        -.5em -.5rem 1rem #fff;
    font-family: 'I Love Glitter';
    font-size: 180%;
    font-weight: bolder;
}
button:hover {
    box-shadow: .5em .5rem 1rem #fff
    , -.5em -.5rem 1rem #ccc;
    transition: 0.3s;
    background-color: #FF9321;
}

button:active {
    box-shadow: inset .2rem .2rem 1rem #fff
      , inset -.2rem -.2rem 1rem #ccc
}


  @media (max-width:804px){
    input {
        width: 80%;
        margin: 5%;
        font-size: 200%;
        border-radius: 4px;
        
    }

    .registerContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: #3F0D02;
    }

    .registerDesign {
        height:50%;
        width: 80%;
        font-weight: bold;
        margin-top: 3%;
        background-color: transparent;
    }

    .linkDesign {
        font-weight: bold;
        font-family: 'I Love Glitter';
        font-size: 170%;
        width: 40%;
        height: 10%;
        margin-left: 35%;
        margin-top: 25%;
        font-family: 'My December';
    }

    .userButton{

        width: 40%;
        height: 12%;
        margin-bottom: 3%;
    }
    .carerButton{
        width: 40%;
        height: 10%;
        margin-bottom: 10%;

    }
}